@model IEnumerable<PraticarEsportes.Models.Historico>

@{
    Layout = "~/Views/Shared/FullPage.cshtml";
    ViewBag.Title = "Meu Histórico";
}


<div class="container">
    <h2>Meu Histórico</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Horario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Horario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id=item.HistoricoId }) |
                        @Html.ActionLink("Details", "Details", new { id=item.HistoricoId }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.HistoricoId })*@
                </td>
            </tr>
        }

    </table>
</div>