@{
    Layout = "~/Views/Shared/_LayoutMapas.cshtml";
    List<PraticarEsportes.Models.Local> local = ViewBag.Local;
    ViewBag.Title = "Mapa";

}

@Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/Scripts/leaflet-0.7.3.js")
<link rel="stylesheet" href="~/Content/leaflet.css" />
<link rel="stylesheet" href="~/Content/mapa.css" />
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/css/font-awesome.min.css' rel='stylesheet' />
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.mapbox.css' rel='stylesheet' />

<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.min.js'></script>

<style>
    .pesquisaevento {
        position: absolute;
        top: 150px;
        right: 60px;
        padding: 10px;
        background: rgba(255, 255, 255, 0.75);
        border-radius: 3px;
    }

    .pesquisalocal {
        position: absolute;
        top: 60px;
        right: 60px;
        padding: 10px;
        background: rgba(255, 255, 255, 0.75);
        border-radius: 3px;
    }
</style>

<div id="map"></div>

@{
    //cadastro de local somente para Estabelecimentos(conforme sprint planning)
    if (Session["Tipo"] != null)
    {
        if (Session["Tipo"].ToString() == "1")
        {
            <div class="addLocation">
                <a href="/Local/Create" class="openModal" title="Cadastro de Locais">
                    <img src="~/Content/img/addLocation.png" alt="" />
                </a>
            </div>
        }
    }


}

<div class="addSport">
    <a href="/Evento/Create" class="openModal" title="Cadastro de Eventos">
        <img src="~/Content/img/addSport.png" alt="" />
    </a>
</div>

<div class="pesquisaevento">
    <a href="/Evento/Index" class="" title="Pesquisar Eventos">
        <img src="~/Content/img/pes.png" alt="" />
    </a>
</div>

<div class="pesquisalocal">
    <a href="/Local/index" class="" title="Pesquisar Locais">
        <img src="~/Content/img/pes.png" alt="" />
    </a>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <p>
                </p>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>*@
        </div>

    </div>
</div>

<script>
    $(document).on('click', '.openModal', function (e) {
        e.preventDefault();

        var title = $(this).attr("title");
        var url = $(this).attr("href");

        $("#myModal").find('.modal-title').html(title)
        $('#myModal').modal('show').find('.modal-body').load(url);
    });

    $("#myModal").on("submit", "#form-accountedit", function (e) {
        e.preventDefault();  // prevent standard form submission

        var form = $(this);
        $.ajax({
            url: form.attr("action"),
            method: form.attr("method"),  // post
            data: form.serialize(),
            success: function (partialResult) {
                $('#myModal').modal('show').find('.modal-body').html(partialResult);
            }
        });
    });

    $(document).ready(function () {
        map.locate({ setView: true, maxZoom: 14 });
    })

    var map = L.map('map');

    map.on('click', function (e) {
        console.log("Lat, Lon : " + e.latlng.lat + ", " + e.latlng.lng)
    });

    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 18,
    }).addTo(map);

    var LeafIcon = L.Icon.extend({
        options: {
            iconSize: [40, 40],
        }
    });

    var estadio = new LeafIcon({ iconUrl: '../Content/img/iconStadium.png' });

    @foreach (var locais in local){
        if (@locais.Habilitado == true) {
            <text>
                var latitude = "@locais.Latitude";
                latitude = latitude.replace(/,/g, '.');

                var longitude = "@locais.Longitude";
                longitude = longitude.replace(/,/g, '.');

                var contentPopup = "<h4>@locais.Nome</h4>";
                contentPopup += "<a href='/Evento/Contador?id=@locais.ID' class='openModal btn btn-primary' title='@locais.Nome'>Ver Local e Eventos</a>";

                L.marker([latitude, longitude], { icon: estadio }).addTo(map).bindPopup(contentPopup);
            </text>
        }
    }

    function onLocationFound(e) {
        var radius = e.accuracy / 2;

        L.marker(e.latlng).addTo(map)
            .bindPopup("Você está aqui!").openPopup();

        L.circle(e.latlng, radius).addTo(map);
    }

    function onLocationError(e) {
        alert(e.message);
    }

    map.on('locationerror', onLocationError);
    map.on('locationfound', onLocationFound);
    //map.scrollWheelZoom.disable();
    L.control.locate().addTo(map);

    map.locate({ setView: true, maxZoom: 14 });
</script>