@model IEnumerable<PraticarEsportes.Models.Categoria>

@{
    Layout = "~/Views/Shared/FullPage.cshtml";
    ViewBag.Title = "Categorias";
}

@*<h2>Index</h2>*@

<p>
    @Html.ActionLink("Criar nova categoria", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.CategoriaID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.CategoriaID }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.CategoriaID })
        </td>
    </tr>
}

</table>
