@model IEnumerable<PraticarEsportes.Models.Categoria>

@{
    Layout = "~/Views/Shared/FullPage.cshtml";
    ViewBag.Title = "Categorias";
}

<div class="container">
    <h2>Lista de Categorias</h2>

    <hr />

    <p>
        <a href="/Categoria/Create" role="button" class="btn btn-green raised">Cadastrar Nova Categoria</a>
    </p>

    <hr />

    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.CategoriaID }) |
                        @Html.ActionLink("Detalhes", "Details", new { id = item.CategoriaID }) |
                        @Html.ActionLink("Deletar", "Delete", new { id = item.CategoriaID })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>