@model IEnumerable<PraticarEsportes.Models.Local>

@{
    Layout = "~/Views/Shared/Modal.cshtml";
    ViewBag.Title = "Locais";

}

@{
    ViewBag.Title = "Pesquisa";
}

@Scripts.Render("~/Scripts/jquery.dataTables.min.js")

<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />


    @*@using (Html.BeginForm("Pesquisa", "Local", null, System.Web.Mvc.FormMethod.Post))
    {
        <p>
            Procura por Nome : @Html.TextBox("searchString")
            <input type="submit" value="Buscar" />
        </p>
    }*@


    <p>
        @*@Html.ActionLink("Create New", "Create")*@
    </p>
    <div class="form-group">
    <div class="table-responsive">
        <table id="listaLocal" class="stripe">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.Latitude)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Longitude)
                    </th>*@
                    @*<th>
                        @Html.DisplayNameFor(model => model.CEP)
                    </th>*@
                    @*<th>
                        @Html.DisplayNameFor(model => model.Cidade)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Estado)
                    </th>*@
                    @*<th>
                        @Html.DisplayNameFor(model => model.Habilitado)
                    </th>*@
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a href="@this.Url.Action("Details", "Local", new { id = @Html.DisplayFor(modelItem => item.ID) })" target="_self">@Html.DisplayFor(modelItem => item.Nome)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.Latitude)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Longitude)
                        </td>*@
                        @*<td>
                            @Html.DisplayFor(modelItem => item.CEP)
                        </td>*@
                        @*<td>
                            @Html.DisplayFor(modelItem => item.Cidade)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>*@
                        @*<td>
                            @Html.DisplayFor(modelItem => item.Habilitado)
                        </td>*@
                        <td>
                            @{

                    var segue = false;
                    if (ViewBag.LocaisCurtidos != null)
                    {
                        foreach (var p1 in ViewBag.LocaisCurtidos)
                        {
                            if (p1.ID == item.ID)
                            {
                                segue = true;
                                break;
                            }
                        }
                    }
                    if (segue)
                    {
                        <span>Seguindo!</span>
                    }
                    else
                    {
                        <a href="/Local/Like/@item.ID" role="button" class="btn btn-primary btn-sm">
                            Seguir
                        </a>
                    }

}

                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
    </div>

<script>
    $(document).ready(function () {
        $('#listaLocal').DataTable({
            "oLanguage": {
                "sSearch": "Busca:"
            },
            paging: false,
            searching: true,
            ordering: true,
            info: false
        });
    });
</script>