@model PraticarEsportes.Models.Categoria

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <br /><br />
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Praticar Esportes", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @{ 
                Object Usuario = PraticarEsportes.Repositories.Funcoes.GetUsuario();
                if (Usuario != null)
                {
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categorias<span class="caret"></span></a>
                                <ul class="dropdown-menu">

                                    @{
                                        if (ViewBag.Categoria != null)
                                        {
                                            List<PraticarEsportes.Models.Categoria> categoria = ViewBag.Categoria;
                                            foreach (var menu in categoria)
                                            {
                                            <li><a href="#">@menu.Nome</a></li>
                                            }
                                        }
                                    }

                                </ul>
                            </li>
                            <li>@Html.ActionLink("Sair", "Logoff", "Publico")</li>
                            @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Pessoas", "Index", "Pessoas")</li>
                            <li>@Html.ActionLink("Locais", "Index", "Local")</li>
                            <li>@Html.ActionLink("Eventos", "Index", "Evento")</li>
                            <li>@Html.ActionLink("Categorias", "Index", "Categoria")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                        </ul>
                    </div>
                }
                else
                {
                    <script type="text/javascript">
                        window.location.href = "@Url.Action("AcessoNegado","Publico")";
                    </script>
                }
            }
        </div>
    </div>
    
    @RenderBody()   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
