<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta property="fb:app_id" content="1728002444152079" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-social.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
</head>
<body>
    <div id="fb-root"></div>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.6&appId=1728002444152079";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Praticar Esportes", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            @{
                Object Usuario = PraticarEsportes.Repositories.Funcoes.GetUsuario();
                if (Usuario != null)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bem-Vindo, @Session["Nome"].ToString().Split(' ')[0]!<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @if (Session["Tipo"].ToString() == "1")
                                {
                                    <li>@Html.ActionLink("Meus dados", "Edit", "Estabelecimentos")</li>
                                }
                                else
                                {
                                    <li>@Html.ActionLink("Meus dados", "Edit", "Praticantes")</li>
                                }
                                <li>@Html.ActionLink("Visualizar Histórico", "Index", "Historicos")</li>
                                <li>@Html.ActionLink("Visualizar Ranking", "Ranking", "Praticantes")</li>
                                <li>@Html.ActionLink("Sair", "Logoff", "Publico")</li>
                            </ul>
                        </li>
                    </ul>

                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            @*<li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Listas<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="~/Categoria/Index">Categorias</a></li>
                                        <li><a href="~/Praticantes/Index">Praticantes</a></li>
                                        <li><a href="~/Estabelecimentos/Index">Estabelecimentos</a></li>
                                    </ul>
                                </li>*@

                            @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("Pessoas", "Index", "Pessoas")</li>
                                <li>@Html.ActionLink("Locais", "Index", "Local")</li>
                                <li>@Html.ActionLink("Eventos", "Index", "Evento")</li>
                                <li>@Html.ActionLink("Categorias", "Index", "Categoria")</li>
                                <li>@Html.ActionLink("About", "About", "Home")</li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                        </ul>
                    </div>
                }
                else
                {
                    <script type="text/javascript">
                        window.location.href = "@Url.Action("Logar","Publico")";
                    </script>
                }
}
        </div>
    </div>

    <div class="body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
