@model PraticarEsportes.Models.Evento

@{
    Layout = "~/Views/Shared/FullPage.cshtml";
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Evento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categoria.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Local.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Local.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataTermino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataTermino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dificuldade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dificuldade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Habilitado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Habilitado)
        </dd>

    </dl>
</div>


    <a class="btn btn-block btn-xs btn-social btn-facebook" style="width:500px;" href="https://www.facebook.com/sharer/sharer.php?u=http://praticaresportes.com/@Request.Url.Query" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" title="Compartilhe no Facebook">
        <i class="fa fa-facebook"></i> Compartilhar no Facebook
    </a>


<p>
    @{
        PraticarEsportes.Models.Pessoa pessoa = (PraticarEsportes.Models.Pessoa) PraticarEsportes.Repositories.Funcoes.GetUsuario();

        if (Model.PessoasConfirmadas == null)
        {
            @Html.ActionLink("Confirmar Presenca", "ConfirmarPresenca", new { id = Model.ID });
        }
        else if (Model.PessoasConfirmadas.Contains(pessoa))
        {
            @Html.ActionLink("Cancelar Presenca", "CancelarPresenca", new { id = Model.ID });
        }
        else
        {
            @Html.ActionLink("Confirmar Presenca", "ConfirmarPresenca", new { id = Model.ID });
        }

        if (Model.PessoaId == pessoa.PessoaId) {
            Html.ActionLink("Editar", "Edit", new { id = Model.ID });
        }
    }
    |
    @Html.ActionLink("Voltar", "Index")

    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=1728002444152079";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="fb-comments" data-href="@Request.Url" data-numposts="5"></div>
</p>
