@model PraticarEsportes.Models.Evento

@{
    Layout = "~/Views/Shared/FullPage.cshtml";
    ViewBag.Title = "Detalhes do Evento";
}


@{ 
    if (Session["Checkin"]!= null)
    {
        if (Session["Checkin"].ToString() == "1")
        {
            Session["Checkin"] = 0;
            <script>
                alert("Checkin realizado com sucesso!");
            </script>
        }
    }
}
<div class="container">
    <h2>Detalhes do Evento</h2>
    <hr />

    <div class="bd-example" data-example-id="">
        <ol class="breadcrumb" style="margin-bottom: 5px;">
            <li><a href="/Home/Index">Home</a></li>
            <li><a href="#">Evento</a></li>
            <li class="active">Detalhes</li>
        </ol>
    </div>

    <hr />
    <div>
        <form>
            <div class="form-group row">
                <label class="col-sm-2 form-control-label">@Html.DisplayNameFor(model => model.Nome)</label>
                <div class="col-sm-10">
                    <p>@Html.DisplayFor(model => model.Nome)</p>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 form-control-label">@Html.DisplayNameFor(model => model.Descricao)</label>
                <div class="col-sm-10">
                    <p>@Html.DisplayFor(model => model.Descricao)</p>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 form-control-label">@Html.DisplayNameFor(model => model.DataInicio)</label>
                <div class="col-sm-10">
                    <p>@Html.DisplayFor(model => model.DataInicio)</p>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 form-control-label">@Html.DisplayNameFor(model => model.DataTermino)</label>
                <div class="col-sm-10">
                    <p>@Html.DisplayFor(model => model.DataTermino)</p>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 form-control-label">@Html.DisplayNameFor(model => model.Capacidade)</label>
                <div class="col-sm-10">
                    <p>@Html.DisplayFor(model => model.Capacidade)</p>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 form-control-label">@Html.DisplayNameFor(model => model.Dificuldade)</label>
                <div class="col-sm-10">
                    <p>@Html.DisplayFor(model => model.Dificuldade)</p>
                </div>
            </div>
        </form>
    </div>

    <div>
        @{
            PraticarEsportes.Models.Pessoa pessoa = (PraticarEsportes.Models.Pessoa)PraticarEsportes.Repositories.Funcoes.GetUsuario();

            if (Model.PessoasConfirmadas == null)
            {
                @Html.ActionLink("Confirmar Presenca", "ConfirmarPresenca", new { id = Model.ID }, new {@class = "btn btn-green raised"});
            }
            else if (Model.PessoasConfirmadas.Contains(pessoa))
            {
                @Html.ActionLink("Cancelar Presenca", "CancelarPresenca", new { id = Model.ID });
            }
            else
            {
                @Html.ActionLink("Confirmar Presenca", "ConfirmarPresenca", new { id = Model.ID }, new {@class = "btn btn-green raised"});
            }

            if (Model.PessoaId == pessoa.PessoaId)
            {
                Html.ActionLink("Editar", "Edit", new { id = Model.ID });
            }
        }
    </div>

    <hr />

    <div>
        <a class="btn btn-block btn-xs btn-social btn-facebook" style="width:500px;" href="https://www.facebook.com/sharer/sharer.php?u=http://praticaresportes.com/@Request.Url.Query" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" title="Compartilhe no Facebook">
            <i class="fa fa-facebook"></i> Compartilhar no Facebook
        </a>

        @if (Session["FbuserToken"] != null)
        {
            var fullUrl = this.Url.Action("Checkin", "Facebook", new { id = Model.ID }, this.Request.Url.Scheme);

            <a class="btn btn-block btn-xs btn-social btn-facebook" style="width:500px;" href="@fullUrl">
                <i class="fa fa-facebook"></i> Fazer Checkin
            </a>

        }
    </div>

    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=1728002444152079";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="fb-comments" data-href="@Request.Url" data-numposts="5"></div>

</div>