
@{
    ViewBag.Title = "EventoCategoria";
    List<PraticarEsportes.Models.Evento> evento = ViewBag.EventoCategoria;
    Layout = "~/Views/Shared/Modal.cshtml";
    int contador = evento.Count;
}

<style>
    .panel-group {
        margin-bottom: 10px;
    }

    .panel-default{
        border-color: #188336!important;
    }

    .panel-heading{
        background-color: #14b943!important;
        border-color: #188336!important;
    }

    .panel-heading a{
        color: #fff
    }
</style>

<div class="row">
    <div class="col-md-12">
        @if (contador > 0)
        {
            foreach (var eventos in evento)
            {
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading_@eventos.ID">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_@eventos.ID" aria-expanded="true" aria-controls="collapse_@eventos.ID">
                                    @eventos.Nome
                                </a>
                            </h4>
                        </div>
                        <div id="collapse_@eventos.ID" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_@eventos.ID">
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-md-3">Nome:</div>
                                        <div class="col-md-9">
                                            @eventos.Nome
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-3">Descrição:</div>
                                        <div class="col-md-9">
                                            @eventos.Descricao
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-3">Data Início:</div>
                                        <div class="col-md-9">
                                            @eventos.DataInicio.ToString().Substring(0, 10)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-3">Data Término:</div>
                                        <div class="col-md-9">
                                            @eventos.DataTermino.ToString().Substring(0, 10)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-3">Capacidade:</div>
                                        <div class="col-md-9">
                                            @eventos.Capacidade
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-3">Dificuldade:</div>
                                        <div class="col-md-9">
                                            @eventos.Dificuldade
                                        </div>
                                    </div>

                                    @*<div class="form-group">
                                        <div class="col-md-3">Categoria:</div>
                                        <div class="col-md-9">
                                            @eventos.CategoriaID
                                        </div>
                                    </div>*@

                                    <div class="form-group">
                                        <div class="col-md-3">Local:</div>
                                        <div class="col-md-9">
                                            <a href="/Local/Details/@eventos.LocalID">@eventos.Local.Nome</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            }
        }
        else
        {
            @Html.Raw("Nenhum evento cadastrado nesse local.");
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#collapse_1').addClass('in');
    });
</script>