
@{
    ViewBag.Title = "EventoCategoria";
    List<PraticarEsportes.Models.Evento> evento = ViewBag.EventoCategoria;
    Layout = "~/Views/Shared/Modal.cshtml";
    int contador = evento.Count;
}

@if (contador > 0)
{
    foreach (var eventos in evento)
    {
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-3">Nome:</div>
                <div class="col-md-9">
                    @eventos.Nome
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">Descrição:</div>
                <div class="col-md-9">
                    @eventos.Descricao
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">Data Início:</div>
                <div class="col-md-9">
                    @eventos.DataInicio
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">Data Término:</div>
                <div class="col-md-9">
                    @eventos.DataTermino
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">Capacidade:</div>
                <div class="col-md-9">
                    @eventos.Capacidade
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">Dificuldade:</div>
                <div class="col-md-9">
                    @eventos.Dificuldade
                </div>
            </div>

            @*<div class="form-group">
                <div class="col-md-3">Categoria:</div>
                <div class="col-md-9">
                    @eventos.CategoriaID
                </div>
            </div>*@

            <div class="form-group">
                    <div class="col-md-3">Local:</div>
                    <div class="col-md-9">
                        @eventos.LocalID
                    </div>
                </div>
            <hr />
        </div>
    }
}
else
{
    @Html.Raw("Nenhum evento cadastrado nesse local.");
}

