@model IEnumerable<PraticarEsportes.Models.Evento>

@{
    Layout = "~/Views/Shared/FullPage.cshtml";
    ViewBag.Title = "Eventos";
    
}                      @{
                          ViewBag.Title = "Pesquisa";
                      }


                      <h2></h2>
                      @using (Html.BeginForm("Pesquisa", "Evento", null, System.Web.Mvc.FormMethod.Post))
                      {
                          <p>
                              Procura por Nome : @Html.TextBox("searchString")
                              <input type="submit" value="Buscar" />
                          </p>
                      }

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Local.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataTermino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dificuldade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Habilitado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Local.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataTermino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capacidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dificuldade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Habilitado)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })*@
        </td>
    </tr>
}

</table>
