@model IEnumerable<PraticarEsportes.Models.Evento>

@{
    Layout = "~/Views/Shared/Modal.cshtml";
    ViewBag.Title = "Eventos";
    
}                     

@Scripts.Render("~/Scripts/jquery.dataTables.min.js")

<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />

    <div class="table-responsive">
        <table id="listaEvento" class="stripe">
            <thead>
                <tr>
                    @*<th>
                        @Html.DisplayNameFor(model => model.Categoria.Nome)
                    </th>*@
                    @*<th>
                        @Html.DisplayNameFor(model => model.Local.Nome)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataInicio)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.DataTermino)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Capacidade)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Dificuldade)
                    </th>*@
                    @*<th>
                        @Html.DisplayNameFor(model => model.Habilitado)
                    </th>*@
                    <th></th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        @*<td>
                            <a href="@this.Url.Action("Details", "Evento", new { id = @Html.DisplayFor(modelItem => item.Local.ID) })  "> @Html.DisplayFor(modelItem => item.Categoria.Nome).ToString()</a>
                        </td>*@
                        @*<td>
                            @Html.DisplayFor(modelItem => item.Local.Nome)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataInicio)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.DataTermino)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Capacidade)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dificuldade)
                        </td>*@
                        @*<td>
                            @Html.DisplayFor(modelItem => item.Habilitado)
                        </td>*@
                        <td>
                        @{

                    var segue = false;
                    if (ViewBag.EventosCurtidos != null)
                    {
                        foreach (var p1 in ViewBag.EventosCurtidos)
                        {
                            if (p1.ID == item.ID)
                            {
                                segue = true;
                                break;
                            }
                        }
                    }
                    if (segue)
                    {
                        <span>Curtido!</span>
                    }
                    else
                    {
                        <a href="/Evento/Like/@item.ID">
                            <img src="~/Content/img/like.png" width="48" height="48" title="Curtir Local" />
                        </a>
                    }

                        }

                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function () {
            $('#listaEvento').DataTable({
                "oLanguage": {
                    "sSearch": "Busca:"
                },
                paging: false,
                searching: true,
                ordering: true,
                info: false
            });
        });
    </script>