@model IEnumerable<PraticarEsportes.Models.Estabelecimento>

@{
    Layout = "~/Views/Shared/Modal.cshtml";
    ViewBag.Title = "Estabalecimentos Esportivos";
}

@Scripts.Render("~/Scripts/jquery.dataTables.min.js")

<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />

<div class="table-responsive">
    <table id="listaEstabelecimento" class="stripe">
        <thead>
            <tr>
                @*<th>
                    @Html.DisplayNameFor(model => model.Telefone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Endereco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CEP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>*@
                @*<th>
                    @Html.DisplayNameFor(model => model.Senha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Habilitado)
                </th>*@
                <th>
                    Nome
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.RazaoSocial)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CNPJ)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TelComercial)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataAbertura)
                </th>*@
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Telefone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Endereco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CEP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>*@
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Senha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Habilitado)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeFantasia)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.RazaoSocial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CNPJ)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TelComercial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataAbertura)
                    </td>*@
                    <td>
                        @{
                if (item.PessoaId.ToString() != Session["Id"].ToString())
                {
                    var segue = false;
                    if (ViewBag.Seguindo != null)
                    {
                        foreach (var p1 in ViewBag.Seguindo)
                        {
                            if (p1.PessoaId == item.PessoaId)
                            {
                                segue = true;
                                break;
                            }
                        }
                    }
                    if (segue)
                    {
                        <span>Seguindo!</span>
                    }
                    else
                    {
                        <a href="/Estabelecimentos/Follow/@item.PessoaId">
                            <img src="~/Content/img/user_add.png" title="Seguir Estabelecimento" />
                        </a>
                    }

                }
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#listaEstabelecimento').DataTable({
            "oLanguage": {
                "sSearch": "Busca:"
            },
            paging: false,
            searching: true,
            ordering: true,
            info: false
        });
    });
</script>