@model PraticarEsportes.Models.Pessoa
@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Title = "Login";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br /><br />
    <div class="form-horizontal">
        <hr />
        <h3 class="text-center">@ViewBag.Error</h3>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Senha, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Senha)
                @Html.ValidationMessageFor(model => model.Senha)
            </div>
        </div>
        @*<div class="form-group">
            <label class="control-label col-md-2">
                Email
            </label>
            <div>
                <div class="col-md-10 ">
                    <input type="text" name="email" id="email" class="form-control" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">
                Senha
            </label>
            <div class="col-md-10">
                <input type="password" name="senha" id="senha" class="form-control" />
            </div>
        </div>*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Entrar" class="btn btn-default" />
            </div>
        </div>
    </div>
    @Html.ActionLink("Esqueceu a senha?", "RecuperarSenha")<br />
    @Html.ActionLink("Cadastre-se", "Create", "Pessoas")
}
<hr />
@using (Html.BeginForm("Newsletter", "Publico", FormMethod.Post, new { }))
{
    <br /><br />
    <h3 class="text-center">Cadastre seu e-mail para receber nossa newsletter:</h3>
    <div>
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Entrar" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}