@model PraticarEsportes.Models.Pessoa
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    if (Session["Logar"] != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $('#myModal').modal('show');
                sessionStorage.clear();
            });
        </script>
    }

    if (Session["Cadastro"] != null)
    {
        if (Session["Cadastro"].ToString() == "1")
        {
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#myModal').modal('show');
                    sessionStorage.clear();
                });
                    
            </script>
        }
        else if (Session["Cadastro"].ToString() == "2")
        {
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#myModal').modal('show');
                    sessionStorage.clear();
                });
            </script>
        }
    }

    <link rel="stylesheet" href="~/Content/Login.css" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/Content/bootstrap.css">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">PraticarEsportes</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <p class="navbar-btn">
                            <a href="/Pessoas/Create" class="btn btn-green raised">Criar Conta</a>
                        </p>
                    </li>
                    <li>
                        <p class="navbar-btn">
                            <a href="" class="btn btn-green raised" data-toggle="modal" data-target="#myModal">
                                <span class="glyphicons glyphicons-user-key"></span>
                                Logar
                            </a>
                        </p>
                    </li>

                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div id="mycarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
            <li data-target="#mycarousel" data-slide-to="1"></li>
            <li data-target="#mycarousel" data-slide-to="2"></li>
            <li data-target="#mycarousel" data-slide-to="3"></li>
            <li data-target="#mycarousel" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/Content/img/backgroundBike.jpg" data-color="lightblue" alt="First Image">
                <div class="carousel-caption">
                    <div class="content-caption">
                        <h3>PRATICAR ESPORTES</h3>
                        <img src="~/Content/img/logo.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/img/backgroundSoccer.jpg" data-color="firebrick" alt="Second Image">
                <div class="carousel-caption">
                    <div class="content-caption">
                        <h3>COMPARTILHE SEUS EVENTOS E MONTE SEU TIME!</h3>
                        <img src="~/Content/img/iconShare.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/img/backgroundTennis.jpg" data-color="firebrick" alt="Second Image">
                <div class="carousel-caption">
                    <div class="content-caption">
                        <h3>VEJA SUA POSIÇÃO NO RANKING E DESAFIE SEUS AMIGOS</h3>
                        <img src="~/Content/img/podium_icon.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/img/backgroundSlackline.jpg" data-color="firebrick" alt="Second Image">
                <div class="carousel-caption">
                    <div class="content-caption">
                        <h3>FAÇA CHECK-IN EM EVENTOS E GANHE DESCONTOS</h3>
                        <img src="~/Content/img/iconCheckin.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/img/backgroundBaskteball.jpg" data-color="firebrick" alt="Second Image">
                <div class="carousel-caption">
                    <div class="content-caption">
                        <h3>SIGA E CURTA SEUS LOCAIS FAVORITOS</h3>
                        <img src="~/Content/img/like_icon.png" alt="" />
                    </div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                    @{
                        if (Session["Cadastro"] != null)
                        {
                            if (Session["Cadastro"].ToString() == "1"){
                                @Html.Raw("<h3 class='text-center'>Cadastrado com sucesso!</h3><hr />");
                                Session["Cadastro"] = 0;
                            }
                            else if (Session["Cadastro"].ToString() == "2"){
                                @Html.Raw("<h3 class='text-center'>Cadastrado com sucesso! Aguarde a administração liberar o acesso.</h3><hr />");
                                Session["Cadastro"] = 0;
                            }
                        }
                    }

                    <div class="text-center">
                        <a href="@ViewBag.UrlFb" class="btn btn-primary btn-large">Login com Facebook</a>
                    </div>

                    <hr />

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            <h3 class="text-center">@ViewBag.Error</h3>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Senha, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(model => model.Senha, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Senha)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Entrar" class="btn btn-green raised" />
                                </div>
                            </div>
                        </div>

                        <hr />

                        <div class="text-center">
                            <a href="/RecuperarSenha" role="button" class="btn btn btn-danger">Esqueceu a senha?</a>
                            <a href="/Pessoas/Create" role="button" class="btn btn btn-danger">Cadastre-se</a>
                        </div>
                        @*@Html.ActionLink("Esqueceu a senha?", "RecuperarSenha")
                            @Html.ActionLink("Cadastre-se", "Create", "Pessoas")*@
                    }
                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>*@
            </div>
        </div>
    </div>

    <script>
        $('.carousel').carousel({
            interval: 10000,
            pause: "true"
        });

        var $item = $('.carousel .item');
        var $wHeight = $(window).height();

        $item.height($wHeight);
        $item.addClass('full-screen');

        $('.carousel img').each(function () {
            var $src = $(this).attr('src');
            var $color = $(this).attr('data-color');
            $(this).parent().css({
                'background-image': 'url(' + $src + ')',
                'background-color': $color
            });
            $(this).remove();
        });

        $(window).on('resize', function () {
            $wHeight = $(window).height();
            $item.height($wHeight);
        });
    </script>
    <style>
        .full-screen {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>

    @*ViewBag.Title = "Login";

            if (Session["Cadastro"] != null)
            {
                if (Session["Cadastro"].ToString() == "1")
                {
                    <script type="text/javascript">
                        alert("Cadastrado com sucesso!");
                        sessionStorage.clear();
                    </script>
                    Session["Cadastro"] = 0;

                }
                else if (Session["Cadastro"].ToString() == "2")
                {
                    <script type="text/javascript">
                    alert("Cadastrado com sucesso! Aguarde a administração liberar o acesso.");
                    </script>
                    Session["Cadastro"] = 0;
                }
            }

        }

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <br /><br />
            <div class="form-horizontal">
                <hr />
                <h3 class="text-center">@ViewBag.Error</h3>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email)
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Senha, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Senha)
                        @Html.ValidationMessageFor(model => model.Senha)
                    </div>
                </div>
                @*<div class="form-group">
                    <label class="control-label col-md-2">
                        Email
                    </label>
                    <div>
                        <div class="col-md-10 ">
                            <input type="text" name="email" id="email" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Senha
                    </label>
                    <div class="col-md-10">
                        <input type="password" name="senha" id="senha" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Entrar" class="btn btn-default" />
                    </div>
                </div>
            </div>
            @Html.ActionLink("Esqueceu a senha?", "RecuperarSenha")<br />
            @Html.ActionLink("Cadastre-se", "Create", "Pessoas")
        }
        <hr />
        @using (Html.BeginForm("Newsletter", "Publico", FormMethod.Post, new { }))
        {
            <br /><br />
            <h3 class="text-center">Cadastre seu e-mail para receber nossa newsletter:</h3>
            <div>
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email)
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Entrar" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>*@
}