@model PraticarEsportes.Models.Checkin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Checkin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pessoa.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pessoa.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CheckinId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
