@model IEnumerable<PraticarEsportes.Models.Checkin>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pessoa.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pessoa.Telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CheckinId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CheckinId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CheckinId })
        </td>
    </tr>
}

</table>
