@model PraticarEsportes.Models.Cupom

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/FullPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Cupom</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Evento.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evento.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Validade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Validade)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CupomId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
