@model IEnumerable<PraticarEsportes.Models.Cupom>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/FullPage.cshtml";
}

<div class="container">
    <h2>Lista de Cupons</h2>

    <hr />

    <p>
        <a href="Cupons/Create" role="button" class="btn btn-green raised">Cadastrar</a>
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Evento.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Validade)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Evento.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Validade)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CupomId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CupomId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CupomId })
                </td>
            </tr>
        }

    </table>
</div>
